:root {
  --color-primary: #00CEEC;
  --color-contrast-lower: #EBEEF2;
  --color-contrast-low: #94A3B8;
  --color-contrast-medium: #475569;
  --color-contrast-high: #313C50;
  --color-contrast-higher: #0F172A;

  --font-family-system: system-ui, sans-serif;
  --font-family-display: 'Jost', sans-serif;
  --font-family-body: 'Public SansVariable', sans-serif;

  --color-bg: #FFFFFF;
  --color-bg-paper: #FFFFFF;
}

[data-theme="dark"] {
  --color-contrast-lower: #313C50;
  --color-contrast-low: #475569;
  --color-contrast-medium: #94A3B8;
  --color-contrast-high: #EBEEF2;
  --color-contrast-higher: #FFFFFF;

  --color-bg: #0F172A;
  --color-bg-paper: #313C50;
}

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  -webkit-text-size-adjust: 100%;
}

*, *::before, *::after {
  box-sizing: inherit;
}

a {
  color: inherit;
  text-decoration: none;
}

svg {
  display: block;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

iframe {
  border: 0;
}

body {
  margin: 0;
  background: var(--color-bg);
  color: var(--color-contrast-medium);
  font-family: var(--font-family-body);
  line-height: 1.7;
  font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
  color: var(--color-contrast-higher);
  font-family: var(--font-family-display);
  font-weight: 700;
  line-height: 1.5;
}

h1 {
  font-size: 32px;
  font-weight: 700;
  line-height: 1.1875;
}

h2 {
  font-size: 25px;
  line-height: 1.32;
}

h3 {
  font-size: 20px;

}

h4, h5, h6 {
  font-size: 17px;
}

@media (min-width: 768px) {
  h1 {
    font-size: 35px;
  }

  h2 {
    font-size: 28px;
  }

  body {
    font-size: 17px;
  }
}

pre {
  font-family: var(--font-family-system);
  font-size: 14px;
  line-height: 1.5;
  overflow-x: auto;
  padding: 16px;
  border-radius: 4px;
  color: var(--color-contrast-medium);
  background-color: var(--color-contrast-lower);
}